<h1>What's for dinner?</h1>
<form action="/recipes">
  <div>
    <label for="user_input">What are you craving?</label>
  </div>
  <div>
    <input type="text" name="user_input" id="user_input placeholder="Name an ingredient, cuisine, or anything">
  </div>
  <button>Find the recipe</button>
  
</form>
