<h1>Ideas for your dinner:</h1>
<a href="/">Back to home</a>

<div>
  <% @recipes_list.each do |item| %>
  <details>
    <summary><%= item.fetch(:meal_name) %></summary>
    <%= erb :_recipe_partial, :locals => {:meal_object => item} %>
  </details>
  
  <% end %>
</div>
